.navBar {
  font-size: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  background-color: #2e8bcc;
  min-height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 960px;
  .title {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
    background-image: -webkit-linear-gradient(left,#3498db,#f47920 10%,#d71345 20%,#f7acbc 30%,#ffd400 40%,#3498db 50%,#f47920 60%,#d71345 70%,#f7acbc 80%,#ffd400 90%,#3498db);
    color: transparent;
    background-size: 200% 100%;
    animation: slide 5s infinite linear;
    font-size: 90px;
    -webkit-background-clip: text;
  }
  .desc {
    width: fit-content;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
  }
  .menus {
    position: absolute;
    bottom: 0;
    right: 15px;
    display: flex;
    font-size: 14px;
    color: #ffffff;
    .menuItem {
      padding: 0 15px;
      line-height: 50px;
      cursor: pointer;
      &:hover {
        background-color: #3E78AC;
      }
    }
  }
}
.content {
  .wrap {
    width: 960px;
    margin: 0 auto;
    padding: 35px 0;
    .textAreaInput {
      padding: 6px 12px;
      border: 1px solid #ccc;
      width: 100%;
      margin-bottom: 10px;
    }
    .btnGroups {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
      .btn {
        margin-right: 16px;
        color: #fff;
        background-color: #2ecc71;
        border-color: #29b765;
        font-size: 14px;
        padding: 6px 12px;
        line-height: 34px;
        box-sizing: border-box;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
      }
    }
    .divider {
      margin: 20px 0;
      width: 100%;
      border-top: 1px solid #eee;
    }
  }
}
@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
